/* Write your CSS code here */
/* Write your CSS code here */
.products-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}
.products-img {
  width: 250px;
  height: 400px;
}
